body {
    background-color: black;
    --blur: 1px;
    --spread: 4px;
}


#viet {
    position: absolute;
    top: 100px;
    left: 0;
    width: 0;
    height: 0;
    box-shadow:
         0px 0px var(--blur) var(--spread) #95a0a2,
         5px 0px var(--blur) var(--spread) #909d9e,
        10px 0px var(--blur) var(--spread) #9fabae,
        15px 0px var(--blur) var(--spread) #9fabae,
        20px 0px var(--blur) var(--spread) #a1b7bf,
        25px 0px var(--blur) var(--spread) #a2bac4,
        30px 0px var(--blur) var(--spread) #a8bfc7,
        35px 0px var(--blur) var(--spread) #a8bfc7,
        40px 0px var(--blur) var(--spread) #a9c2c9,
        45px 0px var(--blur) var(--spread) #add1e0,
        50px 0px var(--blur) var(--spread) #c4eaf7,
        55px 0px var(--blur) var(--spread) #d8f6ff,
        60px 0px var(--blur) var(--spread) #d7f8fe,
        65px 0px var(--blur) var(--spread) #bee4f2,
        70px 0px var(--blur) var(--spread) #aac6d5,
        75px 0px var(--blur) var(--spread) #aacbd7,
        80px 0px var(--blur) var(--spread) #acd0dc,
        85px 0px var(--blur) var(--spread) #abcad8,
        90px 0px var(--blur) var(--spread) #b0d4e2,
        95px 0px var(--blur) var(--spread) #c5e9f8,
       100px 0px var(--blur) var(--spread) #d0effc,
       105px 0px var(--blur) var(--spread) #c6e9f7,
       105px 0px var(--blur) var(--spread) #c6e9f7,
       110px 0px var(--blur) var(--spread) #b6dae9,
       115px 0px var(--blur) var(--spread) #a9c4cf,
       120px 0px var(--blur) var(--spread) #a0b7bf,
       125px 0px var(--blur) var(--spread) #a3bac2,
       130px 0px var(--blur) var(--spread) #a5bec9,
       135px 0px var(--blur) var(--spread) #afcedb,
       140px 0px var(--blur) var(--spread) #b3d7e7,
       145px 0px var(--blur) var(--spread) #b6d8e4,
       150px 0px var(--blur) var(--spread) #b5d8e6,
       155px 0px var(--blur) var(--spread) #bde1f1,
       160px 0px var(--blur) var(--spread) #b7dbeb,
       165px 0px var(--blur) var(--spread) #a9c8d5,
       170px 0px var(--blur) var(--spread) #a8c1cd,
       175px 0px var(--blur) var(--spread) #a9c2cd,
       180px 0px var(--blur) var(--spread) #aac3cf,
       185px 0px var(--blur) var(--spread) #abcbd9,
       190px 0px var(--blur) var(--spread) #b0d1e1,
       195px 0px var(--blur) var(--spread) #b2d4e0,
       200px 0px var(--blur) var(--spread) #b1d2e1,
       205px 0px var(--blur) var(--spread) #b6d7e8,
       210px 0px var(--blur) var(--spread) #cfedfb,
       215px 0px var(--blur) var(--spread) #d1edfd,
       220px 0px var(--blur) var(--spread) #c2e3f4,
       225px 0px var(--blur) var(--spread) #bbdced,
       230px 0px var(--blur) var(--spread) #b5d7e8,
       235px 0px var(--blur) var(--spread) #accdd9,
       240px 0px var(--blur) var(--spread) #a8c5d3,
       245px 0px var(--blur) var(--spread) #adccd8,
       250px 0px var(--blur) var(--spread) #b4d8e3,
       255px 0px var(--blur) var(--spread) #b4d6e6,
       260px 0px var(--blur) var(--spread) #e2fafe,
       265px 0px var(--blur) var(--spread) #ecfefe,
       270px 0px var(--blur) var(--spread) #e2fafd,
       275px 0px var(--blur) var(--spread) #c0e3ef,
       280px 0px var(--blur) var(--spread) #b5d9e5,
       285px 0px var(--blur) var(--spread) #b2d3e2,
       290px 0px var(--blur) var(--spread) #abcbdc,
       295px 0px var(--blur) var(--spread) #a5c2d1,
       300px 0px var(--blur) var(--spread) #adccda,
       305px 0px var(--blur) var(--spread) #b7dcec,
       310px 0px var(--blur) var(--spread) #b4dae8,
       315px 0px var(--blur) var(--spread) #b0d5e4,
       320px 0px var(--blur) var(--spread) #aacbda,
       325px 0px var(--blur) var(--spread) #a5c5d2,
       330px 0px var(--blur) var(--spread) #a4c0cc,
       335px 0px var(--blur) var(--spread) #a4bfc8,
       340px 0px var(--blur) var(--spread) #a4bfc8,
       345px 0px var(--blur) var(--spread) #a5c0c9,
       350px 0px var(--blur) var(--spread) #accad6,
       355px 0px var(--blur) var(--spread) #b6dbe6,
       360px 0px var(--blur) var(--spread) #adcdd8,
       365px 0px var(--blur) var(--spread) #a1bcc5,
       370px 0px var(--blur) var(--spread) #a2bdc6,
       375px 0px var(--blur) var(--spread) #a0bbc4,
       380px 0px var(--blur) var(--spread) #9db8c1,
       385px 0px var(--blur) var(--spread) #98afb9,
       390px 0px var(--blur) var(--spread) #92a8b3,
       395px 0px var(--blur) var(--spread) #9bb2ba,
       400px 0px var(--blur) var(--spread) #e4eff4,
       405px 0px var(--blur) var(--spread) #fdfffe,
       410px 0px var(--blur) var(--spread) #ffffff,
       410px 0px var(--blur) var(--spread) #ffffff,
       415px 0px var(--blur) var(--spread) #ffffff,
       415px 0px var(--blur) var(--spread) #ffffff,
       420px 0px var(--blur) var(--spread) #ffffff,
       425px 0px var(--blur) var(--spread) #d1dbe3,
       430px 0px var(--blur) var(--spread) #8e9fa6,
       435px 0px var(--blur) var(--spread) #90a2a6,
       440px 0px var(--blur) var(--spread) #90a2a6,
       445px 0px var(--blur) var(--spread) #90a2a6,
       450px 0px var(--blur) var(--spread) #8d9fa1,
       455px 0px var(--blur) var(--spread) #8d9fa1,
       460px 0px var(--blur) var(--spread) #8a9ba2,
       465px 0px var(--blur) var(--spread) #8b9ca3,
       470px 0px var(--blur) var(--spread) #8a9ba2,
       475px 0px var(--blur) var(--spread) #899aa1,
       480px 0px var(--blur) var(--spread) #889ba1,
       485px 0px var(--blur) var(--spread) #889aa0,
       490px 0px var(--blur) var(--spread) #889a9f,
       495px 0px var(--blur) var(--spread) #8a9c9e,
       500px 0px var(--blur) var(--spread) #8b9d9d,
       505px 0px var(--blur) var(--spread) #8b9d9d,

         0px 5px var(--blur) var(--spread) #95a0a1,
         5px 5px var(--blur) var(--spread) #929ea1,
        10px 5px var(--blur) var(--spread) #a1acb0,
        15px 5px var(--blur) var(--spread) #9cabb2,
        20px 5px var(--blur) var(--spread) #a1b4bf,
        25px 5px var(--blur) var(--spread) #a3bcc6,
        30px 5px var(--blur) var(--spread) #a7bec6,
        35px 5px var(--blur) var(--spread) #abc2ca,
        40px 5px var(--blur) var(--spread) #a9c3ca,
        45px 5px var(--blur) var(--spread) #b2d7e7,
        50px 5px var(--blur) var(--spread) #c7edf8,
        55px 5px var(--blur) var(--spread) #dffbff,
        60px 5px var(--blur) var(--spread) #d7f8fe,
        65px 5px var(--blur) var(--spread) #bee4f2,
        70px 5px var(--blur) var(--spread) #aac6d5,
        75px 5px var(--blur) var(--spread) #aacbd7,
        80px 5px var(--blur) var(--spread) #acd0dc,
        85px 5px var(--blur) var(--spread) #abcad8,
        90px 5px var(--blur) var(--spread) #b0d4e2,
        95px 5px var(--blur) var(--spread) #c5e9f8,
       100px 5px var(--blur) var(--spread) #d0effc,
       105px 5px var(--blur) var(--spread) #cbecf7,
       110px 5px var(--blur) var(--spread) #b6dae9,
       115px 5px var(--blur) var(--spread) #a9c3ce,
       120px 5px var(--blur) var(--spread) #a0b6be,
       125px 5px var(--blur) var(--spread) #a4bbc3,
       130px 5px var(--blur) var(--spread) #a7bfca,
       135px 5px var(--blur) var(--spread) #aecddb,
       140px 5px var(--blur) var(--spread) #b4d8e8,
       145px 5px var(--blur) var(--spread) #b6d8e4,
       150px 5px var(--blur) var(--spread) #b5d9e6,
       155px 5px var(--blur) var(--spread) #bce0f0,
       160px 5px var(--blur) var(--spread) #b6dbea,
       165px 5px var(--blur) var(--spread) #abc8d6,
       170px 5px var(--blur) var(--spread) #a6c0cd,
       175px 5px var(--blur) var(--spread) #a6bdcb,
       180px 5px var(--blur) var(--spread) #a9c3d0,
       185px 5px var(--blur) var(--spread) #abcad7,
       190px 5px var(--blur) var(--spread) #b0d0e0,
       195px 5px var(--blur) var(--spread) #b5d7e3,
       200px 5px var(--blur) var(--spread) #b1d2e2,
       205px 5px var(--blur) var(--spread) #b9dbec,
       210px 5px var(--blur) var(--spread) #c8e8f8,
       215px 5px var(--blur) var(--spread) #d0effe,
       220px 5px var(--blur) var(--spread) #c5e6f6,
       225px 5px var(--blur) var(--spread) #bfe0f1,
       230px 5px var(--blur) var(--spread) #b5d6e8,
       235px 5px var(--blur) var(--spread) #accdda,
       240px 5px var(--blur) var(--spread) #a8c5d3,
       245px 5px var(--blur) var(--spread) #adccd8,
       250px 5px var(--blur) var(--spread) #b8d7e4,
       255px 5px var(--blur) var(--spread) #b3d4e4,
       260px 5px var(--blur) var(--spread) #e0f8fc,
       265px 5px var(--blur) var(--spread) #ecfdfe,
       270px 5px var(--blur) var(--spread) #e2fafe,
       275px 5px var(--blur) var(--spread) #c0e3f0,
       280px 5px var(--blur) var(--spread) #b4d8e7,
       285px 5px var(--blur) var(--spread) #aed1e2,
       290px 5px var(--blur) var(--spread) #aacadb,
       295px 5px var(--blur) var(--spread) #a8c5d5,
       300px 5px var(--blur) var(--spread) #adcedb,
       305px 5px var(--blur) var(--spread) #b5daea,
       310px 5px var(--blur) var(--spread) #b1d6e6,
       315px 5px var(--blur) var(--spread) #b0d6e4,
       320px 5px var(--blur) var(--spread) #a8cada,
       325px 5px var(--blur) var(--spread) #a6c4d3,
       330px 5px var(--blur) var(--spread) #a4c1cd,
       335px 5px var(--blur) var(--spread) #a6c0c9,
       340px 5px var(--blur) var(--spread) #a6c1ca,
       345px 5px var(--blur) var(--spread) #a4bfc8,
       350px 5px var(--blur) var(--spread) #abcad4,
       355px 5px var(--blur) var(--spread) #b4dae5,
       360px 5px var(--blur) var(--spread) #accdd7,
       365px 5px var(--blur) var(--spread) #a0bbc4,
       370px 5px var(--blur) var(--spread) #a2bdc6,
       375px 5px var(--blur) var(--spread) #a1bcc5,
       380px 5px var(--blur) var(--spread) #9eb9c2,
       385px 5px var(--blur) var(--spread) #99b0ba,
       390px 5px var(--blur) var(--spread) #91a7b2,
       395px 5px var(--blur) var(--spread) #9ab0ba,
       400px 5px var(--blur) var(--spread) #ddedf0,
       405px 5px var(--blur) var(--spread) #fefffe,
       410px 5px var(--blur) var(--spread) #fefefe,
       415px 5px var(--blur) var(--spread) #fefefe,
       420px 5px var(--blur) var(--spread) #fefefe,
       425px 5px var(--blur) var(--spread) #dae0e8,
       430px 5px var(--blur) var(--spread) #8e9fa6,
       435px 5px var(--blur) var(--spread) #8ea0a4,
       440px 5px var(--blur) var(--spread) #90a2a6,
       445px 5px var(--blur) var(--spread) #8fa1a5,
       450px 5px var(--blur) var(--spread) #8ea0a3,
       455px 5px var(--blur) var(--spread) #8ea0a3,
       460px 5px var(--blur) var(--spread) #8a9ba2,
       465px 5px var(--blur) var(--spread) #8a9ba2,
       470px 5px var(--blur) var(--spread) #8b9ca3,
       475px 5px var(--blur) var(--spread) #8a9ba2,
       480px 5px var(--blur) var(--spread) #889aa1,
       485px 5px var(--blur) var(--spread) #899b9f,
       490px 5px var(--blur) var(--spread) #899b9f,
       495px 5px var(--blur) var(--spread) #889a9b,
       500px 5px var(--blur) var(--spread) #8b9d9d,
       505px 5px var(--blur) var(--spread) #8a9d9c
    ;
}