body {
    background-color: black;
    --blur: 1px;
    --spread: 4px;
}


#viet {
    position: absolute;
    top: 100px;
    left: 0;
    width: 0;
    height: 0;
    box-shadow:
         0px 0px var(--blur) var(--spread) #95a0a2,
         5px 0px var(--blur) var(--spread) #909d9e,
        10px 0px var(--blur) var(--spread) #9fabae,
        15px 0px var(--blur) var(--spread) #9fabae,
        20px 0px var(--blur) var(--spread) #a1b7bf,
        25px 0px var(--blur) var(--spread) #a2bac4,
        30px 0px var(--blur) var(--spread) #a8bfc7,
        35px 0px var(--blur) var(--spread) #a8bfc7,
        40px 0px var(--blur) var(--spread) #a9c2c9,
        45px 0px var(--blur) var(--spread) #add1e0,
        50px 0px var(--blur) var(--spread) #c4eaf7,
        55px 0px var(--blur) var(--spread) #d8f6ff,
        60px 0px var(--blur) var(--spread) #d7f8fe,
        65px 0px var(--blur) var(--spread) #bee4f2,
        70px 0px var(--blur) var(--spread) #aac6d5,
        75px 0px var(--blur) var(--spread) #aacbd7,
        80px 0px var(--blur) var(--spread) #acd0dc,
        85px 0px var(--blur) var(--spread) #abcad8,
        90px 0px var(--blur) var(--spread) #b0d4e2,
        95px 0px var(--blur) var(--spread) #c5e9f8,
       100px 0px var(--blur) var(--spread) #d0effc,
       105px 0px var(--blur) var(--spread) #c6e9f7,
       105px 0px var(--blur) var(--spread) #c6e9f7,
       110px 0px var(--blur) var(--spread) #b6dae9,
       115px 0px var(--blur) var(--spread) #a9c4cf,
       120px 0px var(--blur) var(--spread) #a0b7bf,
       125px 0px var(--blur) var(--spread) #a3bac2,
       130px 0px var(--blur) var(--spread) #a5bec9,
       135px 0px var(--blur) var(--spread) #afcedb,
       140px 0px var(--blur) var(--spread) #b3d7e7,
       145px 0px var(--blur) var(--spread) #b6d8e4,
       150px 0px var(--blur) var(--spread) #b5d8e6,
       155px 0px var(--blur) var(--spread) #bde1f1,
       160px 0px var(--blur) var(--spread) #b7dbeb,
       165px 0px var(--blur) var(--spread) #a9c8d5,
       170px 0px var(--blur) var(--spread) #a8c1cd,
       175px 0px var(--blur) var(--spread) #a9c2cd,
       180px 0px var(--blur) var(--spread) #aac3cf,
       185px 0px var(--blur) var(--spread) #abcbd9,
       190px 0px var(--blur) var(--spread) #b0d1e1,
       195px 0px var(--blur) var(--spread) #b2d4e0,
       200px 0px var(--blur) var(--spread) #b1d2e1,
       205px 0px var(--blur) var(--spread) #b6d7e8,
       210px 0px var(--blur) var(--spread) #cfedfb,
       215px 0px var(--blur) var(--spread) #d1edfd,
       220px 0px var(--blur) var(--spread) #c2e3f4,
       225px 0px var(--blur) var(--spread) #bbdced,
       230px 0px var(--blur) var(--spread) #b5d7e8,
       235px 0px var(--blur) var(--spread) #accdd9,
       240px 0px var(--blur) var(--spread) #a8c5d3,
       245px 0px var(--blur) var(--spread) #adccd8,
       250px 0px var(--blur) var(--spread) #b4d8e3,
       255px 0px var(--blur) var(--spread) #b4d6e6,
       260px 0px var(--blur) var(--spread) #e2fafe,
       265px 0px var(--blur) var(--spread) #ecfefe,
       270px 0px var(--blur) var(--spread) #e2fafd,
       275px 0px var(--blur) var(--spread) #c0e3ef,
       280px 0px var(--blur) var(--spread) #b5d9e5,
       285px 0px var(--blur) var(--spread) #b2d3e2,
       290px 0px var(--blur) var(--spread) #abcbdc,
       295px 0px var(--blur) var(--spread) #a5c2d1,
       300px 0px var(--blur) var(--spread) #adccda,
       305px 0px var(--blur) var(--spread) #b7dcec,
       310px 0px var(--blur) var(--spread) #b4dae8,
       315px 0px var(--blur) var(--spread) #b0d5e4,
       320px 0px var(--blur) var(--spread) #aacbda,
       325px 0px var(--blur) var(--spread) #a5c5d2,
       330px 0px var(--blur) var(--spread) #a4c0cc,
       335px 0px var(--blur) var(--spread) #a4bfc8,
       340px 0px var(--blur) var(--spread) #a4bfc8,
       345px 0px var(--blur) var(--spread) #a5c0c9,
       350px 0px var(--blur) var(--spread) #accad6,
       355px 0px var(--blur) var(--spread) #b6dbe6,
       360px 0px var(--blur) var(--spread) #adcdd8,
       365px 0px var(--blur) var(--spread) #a1bcc5,
       370px 0px var(--blur) var(--spread) #a2bdc6,
       375px 0px var(--blur) var(--spread) #a0bbc4,
       380px 0px var(--blur) var(--spread) #9db8c1,
       385px 0px var(--blur) var(--spread) #98afb9,
       390px 0px var(--blur) var(--spread) #92a8b3,
       395px 0px var(--blur) var(--spread) #9bb2ba,
       400px 0px var(--blur) var(--spread) #e4eff4,
       405px 0px var(--blur) var(--spread) #fdfffe,
       410px 0px var(--blur) var(--spread) #ffffff,
       410px 0px var(--blur) var(--spread) #ffffff,
       415px 0px var(--blur) var(--spread) #ffffff,
       415px 0px var(--blur) var(--spread) #ffffff,
       420px 0px var(--blur) var(--spread) #ffffff,
       425px 0px var(--blur) var(--spread) #d1dbe3,
       430px 0px var(--blur) var(--spread) #8e9fa6,
       435px 0px var(--blur) var(--spread) #90a2a6,
       440px 0px var(--blur) var(--spread) #90a2a6,
       445px 0px var(--blur) var(--spread) #90a2a6,
       450px 0px var(--blur) var(--spread) #8d9fa1,
       455px 0px var(--blur) var(--spread) #8d9fa1,
       460px 0px var(--blur) var(--spread) #8a9ba2,
       465px 0px var(--blur) var(--spread) #8b9ca3,
       470px 0px var(--blur) var(--spread) #8a9ba2,
       475px 0px var(--blur) var(--spread) #899aa1,
       480px 0px var(--blur) var(--spread) #889ba1,
       485px 0px var(--blur) var(--spread) #889aa0,
       490px 0px var(--blur) var(--spread) #889a9f,
       495px 0px var(--blur) var(--spread) #8a9c9e,
       500px 0px var(--blur) var(--spread) #8b9d9d,
       505px 0px var(--blur) var(--spread) #8b9d9d,

         0px 5px var(--blur) var(--spread) #95a0a1,
         5px 5px var(--blur) var(--spread) #929ea1,
        10px 5px var(--blur) var(--spread) #a1acb0,
        15px 5px var(--blur) var(--spread) #9cabb2,
        20px 5px var(--blur) var(--spread) #a1b4bf,
        25px 5px var(--blur) var(--spread) #a3bcc6,
        30px 5px var(--blur) var(--spread) #a7bec6,
        35px 5px var(--blur) var(--spread) #abc2ca,
        40px 5px var(--blur) var(--spread) #a9c3ca,
        45px 5px var(--blur) var(--spread) #b2d7e7,
        50px 5px var(--blur) var(--spread) #c7edf8,
        55px 5px var(--blur) var(--spread) #dffbff,
        60px 5px var(--blur) var(--spread) #d7f8fe,
        65px 5px var(--blur) var(--spread) #bee4f2,
        70px 5px var(--blur) var(--spread) #aac6d5,
        75px 5px var(--blur) var(--spread) #aacbd7,
        80px 5px var(--blur) var(--spread) #acd0dc,
        85px 5px var(--blur) var(--spread) #abcad8,
        90px 5px var(--blur) var(--spread) #b0d4e2,
        95px 5px var(--blur) var(--spread) #c5e9f8,
       100px 5px var(--blur) var(--spread) #d0effc,
       105px 5px var(--blur) var(--spread) #cbecf7,
       110px 5px var(--blur) var(--spread) #b6dae9,
       115px 5px var(--blur) var(--spread) #a9c3ce,
       120px 5px var(--blur) var(--spread) #a0b6be,
       125px 5px var(--blur) var(--spread) #a4bbc3,
       130px 5px var(--blur) var(--spread) #a7bfca,
       135px 5px var(--blur) var(--spread) #aecddb,
       140px 5px var(--blur) var(--spread) #b4d8e8,
       145px 5px var(--blur) var(--spread) #b6d8e4,
       150px 5px var(--blur) var(--spread) #b5d9e6,
       155px 5px var(--blur) var(--spread) #bce0f0,
       160px 5px var(--blur) var(--spread) #b6dbea,
       165px 5px var(--blur) var(--spread) #abc8d6,
       170px 5px var(--blur) var(--spread) #a6c0cd,
       175px 5px var(--blur) var(--spread) #a6bdcb,
       180px 5px var(--blur) var(--spread) #a9c3d0,
       185px 5px var(--blur) var(--spread) #abcad7,
       190px 5px var(--blur) var(--spread) #b0d0e0,
       195px 5px var(--blur) var(--spread) #b5d7e3,
       200px 5px var(--blur) var(--spread) #b1d2e2,
       205px 5px var(--blur) var(--spread) #b9dbec,
       210px 5px var(--blur) var(--spread) #c8e8f8,
       215px 5px var(--blur) var(--spread) #d0effe,
       220px 5px var(--blur) var(--spread) #c5e6f6,
       225px 5px var(--blur) var(--spread) #bfe0f1,
       230px 5px var(--blur) var(--spread) #b5d6e8,
       235px 5px var(--blur) var(--spread) #accdda,
       240px 5px var(--blur) var(--spread) #a8c5d3,
       245px 5px var(--blur) var(--spread) #adccd8,
       250px 5px var(--blur) var(--spread) #b8d7e4,
       255px 5px var(--blur) var(--spread) #b3d4e4,
       260px 5px var(--blur) var(--spread) #e0f8fc,
       265px 5px var(--blur) var(--spread) #ecfdfe,
       270px 5px var(--blur) var(--spread) #e2fafe,
       275px 5px var(--blur) var(--spread) #c0e3f0,
       280px 5px var(--blur) var(--spread) #b4d8e7,
       285px 5px var(--blur) var(--spread) #aed1e2,
       290px 5px var(--blur) var(--spread) #aacadb,
       295px 5px var(--blur) var(--spread) #a8c5d5,
       300px 5px var(--blur) var(--spread) #adcedb,
       305px 5px var(--blur) var(--spread) #b5daea,
       310px 5px var(--blur) var(--spread) #b1d6e6,
       315px 5px var(--blur) var(--spread) #b0d6e4,
       320px 5px var(--blur) var(--spread) #a8cada,
       325px 5px var(--blur) var(--spread) #a6c4d3,
       330px 5px var(--blur) var(--spread) #a4c1cd,
       335px 5px var(--blur) var(--spread) #a6c0c9,
       340px 5px var(--blur) var(--spread) #a6c1ca,
       345px 5px var(--blur) var(--spread) #a4bfc8,
       350px 5px var(--blur) var(--spread) #abcad4,
       355px 5px var(--blur) var(--spread) #b4dae5,
       360px 5px var(--blur) var(--spread) #accdd7,
       365px 5px var(--blur) var(--spread) #a0bbc4,
       370px 5px var(--blur) var(--spread) #a2bdc6,
       375px 5px var(--blur) var(--spread) #a1bcc5,
       380px 5px var(--blur) var(--spread) #9eb9c2,
       385px 5px var(--blur) var(--spread) #99b0ba,
       390px 5px var(--blur) var(--spread) #91a7b2,
       395px 5px var(--blur) var(--spread) #9ab0ba,
       400px 5px var(--blur) var(--spread) #ddedf0,
       405px 5px var(--blur) var(--spread) #fefffe,
       410px 5px var(--blur) var(--spread) #fefefe,
       415px 5px var(--blur) var(--spread) #fefefe,
       420px 5px var(--blur) var(--spread) #fefefe,
       425px 5px var(--blur) var(--spread) #dae0e8,
       430px 5px var(--blur) var(--spread) #8e9fa6,
       435px 5px var(--blur) var(--spread) #8ea0a4,
       440px 5px var(--blur) var(--spread) #90a2a6,
       445px 5px var(--blur) var(--spread) #8fa1a5,
       450px 5px var(--blur) var(--spread) #8ea0a3,
       455px 5px var(--blur) var(--spread) #8ea0a3,
       460px 5px var(--blur) var(--spread) #8a9ba2,
       465px 5px var(--blur) var(--spread) #8a9ba2,
       470px 5px var(--blur) var(--spread) #8b9ca3,
       475px 5px var(--blur) var(--spread) #8a9ba2,
       480px 5px var(--blur) var(--spread) #889aa1,
       485px 5px var(--blur) var(--spread) #899b9f,
       490px 5px var(--blur) var(--spread) #899b9f,
       495px 5px var(--blur) var(--spread) #889a9b,
       500px 5px var(--blur) var(--spread) #8b9d9d,
       505px 5px var(--blur) var(--spread) #8a9d9c,

        0px 10px var(--blur) var(--spread) #959fa1,
        5px 10px var(--blur) var(--spread) #8f9ea3,
       10px 10px var(--blur) var(--spread) #a5b0b2,
       15px 10px var(--blur) var(--spread) #9dacb3,
       20px 10px var(--blur) var(--spread) #a4b8c1,
       25px 10px var(--blur) var(--spread) #a3bbc6,
       30px 10px var(--blur) var(--spread) #aac0ca,
       35px 10px var(--blur) var(--spread) #aac2c9,
       40px 10px var(--blur) var(--spread) #aac5cb,
       45px 10px var(--blur) var(--spread) #b1d5e6,
       50px 10px var(--blur) var(--spread) #bbe1f0,
       55px 10px var(--blur) var(--spread) #cfeff8,
       60px 10px var(--blur) var(--spread) #ceeef8,
       65px 10px var(--blur) var(--spread) #b6dcea,
       70px 10px var(--blur) var(--spread) #a8c5d3,
       75px 10px var(--blur) var(--spread) #aed0dd,
       80px 10px var(--blur) var(--spread) #b0d1e0,
       85px 10px var(--blur) var(--spread) #abc9d4,
       90px 10px var(--blur) var(--spread) #b4d8e7,
       95px 10px var(--blur) var(--spread) #cdedfc,
      100px 10px var(--blur) var(--spread) #d6f4fe,
      105px 10px var(--blur) var(--spread) #cfeef9,
      110px 10px var(--blur) var(--spread) #b5d9e8,
      115px 10px var(--blur) var(--spread) #abc6d1,
      120px 10px var(--blur) var(--spread) #a1b8c0,
      125px 10px var(--blur) var(--spread) #a4bbc3,
      130px 10px var(--blur) var(--spread) #a4bdc6,
      135px 10px var(--blur) var(--spread) #abcad6,
      140px 10px var(--blur) var(--spread) #b4d9e7,
      145px 10px var(--blur) var(--spread) #b4d8e3,
      150px 10px var(--blur) var(--spread) #badeee,
      155px 10px var(--blur) var(--spread) #bee2f2,
      160px 10px var(--blur) var(--spread) #b7dbeb,
      165px 10px var(--blur) var(--spread) #abc8d6,
      170px 10px var(--blur) var(--spread) #a6becc,
      175px 10px var(--blur) var(--spread) #a7becc,
      180px 10px var(--blur) var(--spread) #a6c0cd,
      185px 10px var(--blur) var(--spread) #abcbd8,
      190px 10px var(--blur) var(--spread) #b0d0e0,
      195px 10px var(--blur) var(--spread) #b4d6e2,
      200px 10px var(--blur) var(--spread) #b3d5df,
      205px 10px var(--blur) var(--spread) #b6daea,
      210px 10px var(--blur) var(--spread) #c5e5f5,
      215px 10px var(--blur) var(--spread) #ccecfb,
      220px 10px var(--blur) var(--spread) #c4e5f4,
      225px 10px var(--blur) var(--spread) #bbdbed,
      230px 10px var(--blur) var(--spread) #b4d8e6,
      235px 10px var(--blur) var(--spread) #adcdda,
      240px 10px var(--blur) var(--spread) #a9c6d4,
      245px 10px var(--blur) var(--spread) #abccd8,
      250px 10px var(--blur) var(--spread) #b9d9e5,
      255px 10px var(--blur) var(--spread) #b2d4e3,
      260px 10px var(--blur) var(--spread) #ddf5fb,
      265px 10px var(--blur) var(--spread) #ebfeff,
      270px 10px var(--blur) var(--spread) #e2fafe,
      275px 10px var(--blur) var(--spread) #bcdfef,
      280px 10px var(--blur) var(--spread) #b5d9e7,
      285px 10px var(--blur) var(--spread) #aecfe0,
      290px 10px var(--blur) var(--spread) #acccdc,
      295px 10px var(--blur) var(--spread) #a9c6d6,
      300px 10px var(--blur) var(--spread) #adcedc,
      305px 10px var(--blur) var(--spread) #b5daea,
      310px 10px var(--blur) var(--spread) #b0d6e3,
      315px 10px var(--blur) var(--spread) #afd5e2,
      320px 10px var(--blur) var(--spread) #a7c7d7,
      325px 10px var(--blur) var(--spread) #a6c5d3,
      330px 10px var(--blur) var(--spread) #a4c1cf,
      335px 10px var(--blur) var(--spread) #a5c0cd,
      340px 10px var(--blur) var(--spread) #a4c0cc,
      345px 10px var(--blur) var(--spread) #a6c1ca,
      350px 10px var(--blur) var(--spread) #accbd4,
      355px 10px var(--blur) var(--spread) #b5dce6,
      360px 10px var(--blur) var(--spread) #adcdd8,
      365px 10px var(--blur) var(--spread) #a0bbc4,
      370px 10px var(--blur) var(--spread) #a0bbc4,
      375px 10px var(--blur) var(--spread) #a1bcc5,
      380px 10px var(--blur) var(--spread) #9eb9c2,
      385px 10px var(--blur) var(--spread) #99b0ba,
      390px 10px var(--blur) var(--spread) #91a7b2,
      395px 10px var(--blur) var(--spread) #9bb1ba,
      400px 10px var(--blur) var(--spread) #ddecf1,
      405px 10px var(--blur) var(--spread) #fcfefd,
      410px 10px var(--blur) var(--spread) #fefefe,
      415px 10px var(--blur) var(--spread) #ffffff,
      420px 10px var(--blur) var(--spread) #ffffff,
      425px 10px var(--blur) var(--spread) #e3e7ef,
      430px 10px var(--blur) var(--spread) #90a1a8,
      435px 10px var(--blur) var(--spread) #8fa1a5,
      440px 10px var(--blur) var(--spread) #8fa1a5,
      445px 10px var(--blur) var(--spread) #8ea0a4,
      450px 10px var(--blur) var(--spread) #8b9da1,
      455px 10px var(--blur) var(--spread) #8d9ea3,
      460px 10px var(--blur) var(--spread) #8b9ca3,
      465px 10px var(--blur) var(--spread) #8d9ea5,
      470px 10px var(--blur) var(--spread) #87989f,
      475px 10px var(--blur) var(--spread) #8a9ba2,
      480px 10px var(--blur) var(--spread) #899aa1,
      485px 10px var(--blur) var(--spread) #889a9e,
      490px 10px var(--blur) var(--spread) #899b9f,
      495px 10px var(--blur) var(--spread) #899b9b,
      500px 10px var(--blur) var(--spread) #8a9c9c,
      505px 10px var(--blur) var(--spread) #879999,

        0px 15px var(--blur) var(--spread) #949fa1,
        5px 15px var(--blur) var(--spread) #93a2a7,
       10px 15px var(--blur) var(--spread) #a0afb6,
       15px 15px var(--blur) var(--spread) #a3bac6,
       20px 15px var(--blur) var(--spread) #a3bac6,
       25px 15px var(--blur) var(--spread) #a5bdc6,
       30px 15px var(--blur) var(--spread) #abc1cb,
       35px 15px var(--blur) var(--spread) #acc2cc,
       40px 15px var(--blur) var(--spread) #a7bec6,
       45px 15px var(--blur) var(--spread) #a6bfca,
       50px 15px var(--blur) var(--spread) #a2b8cb,
       55px 15px var(--blur) var(--spread) #9bafc3,
       60px 15px var(--blur) var(--spread) #93a8bc,
       65px 15px var(--blur) var(--spread) #a5b8c3,
       70px 15px var(--blur) var(--spread) #a3bac6,
       75px 15px var(--blur) var(--spread) #accbd9,
       80px 15px var(--blur) var(--spread) #afd1dd,
       85px 15px var(--blur) var(--spread) #aac8d4,
       90px 15px var(--blur) var(--spread) #b3d6e6,
       95px 15px var(--blur) var(--spread) #ccecfb,
      100px 15px var(--blur) var(--spread) #dbf7ff,
      105px 15px var(--blur) var(--spread) #cfeffa,
      110px 15px var(--blur) var(--spread) #cfeffa,
      115px 15px var(--blur) var(--spread) #cfeffa,
      120px 15px var(--blur) var(--spread) #a0b4bd,
      125px 15px var(--blur) var(--spread) #a0b4bc,
      130px 15px var(--blur) var(--spread) #a4bdc6,
      135px 15px var(--blur) var(--spread) #aac4d0,
      140px 15px var(--blur) var(--spread) #b4d4e3,
      145px 15px var(--blur) var(--spread) #b1d1e1,
      150px 15px var(--blur) var(--spread) #b5d8e9,
      155px 15px var(--blur) var(--spread) #bde1f1,
      160px 15px var(--blur) var(--spread) #b6dbeb,
      165px 15px var(--blur) var(--spread) #aac7d3,
      170px 15px var(--blur) var(--spread) #a6c0cd,
      175px 15px var(--blur) var(--spread) #a9c1cf,
      180px 15px var(--blur) var(--spread) #a9c3ce,
      185px 15px var(--blur) var(--spread) #abc9d7,
      190px 15px var(--blur) var(--spread) #b1d4de,
      195px 15px var(--blur) var(--spread) #b3d5e1,
      200px 15px var(--blur) var(--spread) #b3d5e1,
      205px 15px var(--blur) var(--spread) #b4d8e8,
      210px 15px var(--blur) var(--spread) #c6e6f7,
      215px 15px var(--blur) var(--spread) #caeaf9,
      220px 15px var(--blur) var(--spread) #c3e4f4,
      225px 15px var(--blur) var(--spread) #b8dcec,
      230px 15px var(--blur) var(--spread) #b5d7e3,
      235px 15px var(--blur) var(--spread) #afd0dc,
      240px 15px var(--blur) var(--spread) #a8c5d3,
      245px 15px var(--blur) var(--spread) #abcbd8,
      250px 15px var(--blur) var(--spread) #b4d8e7,
      255px 15px var(--blur) var(--spread) #b0d4e3,
      260px 15px var(--blur) var(--spread) #d4f2f9,
      265px 15px var(--blur) var(--spread) #e4fcfe,
      270px 15px var(--blur) var(--spread) #daf5fc,
      275px 15px var(--blur) var(--spread) #badeee,
      280px 15px var(--blur) var(--spread) #b4d8e6,
      285px 15px var(--blur) var(--spread) #aed2e3,
      290px 15px var(--blur) var(--spread) #adcedf,
      295px 15px var(--blur) var(--spread) #a8c5d5,
      300px 15px var(--blur) var(--spread) #adcedf,
      305px 15px var(--blur) var(--spread) #b5d9e9,
      310px 15px var(--blur) var(--spread) #b2d9e5,
      315px 15px var(--blur) var(--spread) #aed2e1,
      320px 15px var(--blur) var(--spread) #a9cbda,
      325px 15px var(--blur) var(--spread) #a6c5d3,
      330px 15px var(--blur) var(--spread) #a3c0ce,
      335px 15px var(--blur) var(--spread) #b5dbe6,
      340px 15px var(--blur) var(--spread) #a3bfcb,
      345px 15px var(--blur) var(--spread) #a5c1cb,
      350px 15px var(--blur) var(--spread) #aac9d6,
      355px 15px var(--blur) var(--spread) #b5dbe6,
      360px 15px var(--blur) var(--spread) #b0d1db,
      365px 15px var(--blur) var(--spread) #a1bcc5,
      370px 15px var(--blur) var(--spread) #a1bcc5,
      375px 15px var(--blur) var(--spread) #a0bbc4,
      380px 15px var(--blur) var(--spread) #9db8c1,
      385px 15px var(--blur) var(--spread) #98b0ba,
      390px 15px var(--blur) var(--spread) #91a7b2,
      395px 15px var(--blur) var(--spread) #98afb7,
      400px 15px var(--blur) var(--spread) #d3e6eb,
      405px 15px var(--blur) var(--spread) #fefffe,
      410px 15px var(--blur) var(--spread) #fefefe,
      415px 15px var(--blur) var(--spread) #ffffff,
      420px 15px var(--blur) var(--spread) #ffffff,
      425px 15px var(--blur) var(--spread) #e8ecf2,
      430px 15px var(--blur) var(--spread) #90a1a8,
      435px 15px var(--blur) var(--spread) #90a2a5,
      440px 15px var(--blur) var(--spread) #8ea0a5,
      445px 15px var(--blur) var(--spread) #8c9ea2,
      450px 15px var(--blur) var(--spread) #8d9fa3,
      455px 15px var(--blur) var(--spread) #8b9ca3,
      460px 15px var(--blur) var(--spread) #8b9ca3,
      465px 15px var(--blur) var(--spread) #8c9da4,
      470px 15px var(--blur) var(--spread) #8a9ba2,
      475px 15px var(--blur) var(--spread) #8899a0,
      480px 15px var(--blur) var(--spread) #899aa1,
      485px 15px var(--blur) var(--spread) #899b9f,
      490px 15px var(--blur) var(--spread) #8a9ca0,
      495px 15px var(--blur) var(--spread) #899b9b,
      500px 15px var(--blur) var(--spread) #889a9a,
      505px 15px var(--blur) var(--spread) #8b9d9c,

        0px 20px var(--blur) var(--spread) #97a1a3,
        5px 20px var(--blur) var(--spread) #97a6a9,
       10px 20px var(--blur) var(--spread) #a7b2b4,
       15px 20px var(--blur) var(--spread) #a0aeb6,
       20px 20px var(--blur) var(--spread) #a5bcc6,
       25px 20px var(--blur) var(--spread) #a7bdc8,
       30px 20px var(--blur) var(--spread) #adc3cf,
       35px 20px var(--blur) var(--spread) #a8bdc7,
       40px 20px var(--blur) var(--spread) #8fa2b0,
       45px 20px var(--blur) var(--spread) #a1b4c5,
       50px 20px var(--blur) var(--spread) #b3d7ea,
       55px 20px var(--blur) var(--spread) #cceffa,
       60px 20px var(--blur) var(--spread) #b1cfe2,
       65px 20px var(--blur) var(--spread) #91a2b6,
       70px 20px var(--blur) var(--spread) #8897aa,
       75px 20px var(--blur) var(--spread) #a3b8c5,
       80px 20px var(--blur) var(--spread) #a8c6d2,
       85px 20px var(--blur) var(--spread) #aac6d2,
       90px 20px var(--blur) var(--spread) #b3d6e6,
       95px 20px var(--blur) var(--spread) #ccecfa,
      100px 20px var(--blur) var(--spread) #d5f2fe,
      105px 20px var(--blur) var(--spread) #cdeef9,
      110px 20px var(--blur) var(--spread) #a0b0bc,
      115px 20px var(--blur) var(--spread) #879cad,
      120px 20px var(--blur) var(--spread) #8c9eab,
      125px 20px var(--blur) var(--spread) #7d8a96,
      130px 20px var(--blur) var(--spread) #55617d,
      135px 20px var(--blur) var(--spread) #708296,
      140px 20px var(--blur) var(--spread) #a8bcc7,
      145px 20px var(--blur) var(--spread) #aeccda,
      150px 20px var(--blur) var(--spread) #b0d1e0,
      155px 20px var(--blur) var(--spread) #b6d9e4,
      160px 20px var(--blur) var(--spread) #b0d2dc,
      165px 20px var(--blur) var(--spread) #a7c2ce,
      170px 20px var(--blur) var(--spread) #a5bdc9,
      175px 20px var(--blur) var(--spread) #a8c0ca,
      180px 20px var(--blur) var(--spread) #a8c0ca,
      185px 20px var(--blur) var(--spread) #a9c4ce,
      190px 20px var(--blur) var(--spread) #afcbd6,
      195px 20px var(--blur) var(--spread) #b3d6e2,
      200px 20px var(--blur) var(--spread) #b4d6e2,
      205px 20px var(--blur) var(--spread) #b8d9ea,
      210px 20px var(--blur) var(--spread) #c9eaf9,
      215px 20px var(--blur) var(--spread) #cdeafb,
      220px 20px var(--blur) var(--spread) #c0e2f2,
      225px 20px var(--blur) var(--spread) #b9daeb,
      230px 20px var(--blur) var(--spread) #b7d8e4,
      235px 20px var(--blur) var(--spread) #afd0dd,
      240px 20px var(--blur) var(--spread) #acc7d8,
      245px 20px var(--blur) var(--spread) #a9cad9,
      250px 20px var(--blur) var(--spread) #b3d7e5,
      255px 20px var(--blur) var(--spread) #b2d6e4,
      260px 20px var(--blur) var(--spread) #d1eef6,
      265px 20px var(--blur) var(--spread) #e4fcff,
      270px 20px var(--blur) var(--spread) #d8f5fa,
      275px 20px var(--blur) var(--spread) #badeec,
      280px 20px var(--blur) var(--spread) #b3d7e4,
      285px 20px var(--blur) var(--spread) #b1d2e1,
      290px 20px var(--blur) var(--spread) #b1d2e1,
      295px 20px var(--blur) var(--spread) #a9c6d5,
      300px 20px var(--blur) var(--spread) #accedf,
      305px 20px var(--blur) var(--spread) #b7dbeb,
      310px 20px var(--blur) var(--spread) #b2d8e4,
      315px 20px var(--blur) var(--spread) #b0d2e1,
      320px 20px var(--blur) var(--spread) #aacbdb,
      325px 20px var(--blur) var(--spread) #a6c6d3,
      330px 20px var(--blur) var(--spread) #a3bfcd,
      335px 20px var(--blur) var(--spread) #a1bdca,
      340px 20px var(--blur) var(--spread) #a4c0cc,
      345px 20px var(--blur) var(--spread) #a4c0cc,
      350px 20px var(--blur) var(--spread) #abc8d7,
      355px 20px var(--blur) var(--spread) #b4dae7,
      360px 20px var(--blur) var(--spread) #aed0da,
      365px 20px var(--blur) var(--spread) #9fbac3,
      370px 20px var(--blur) var(--spread) #9fbac3,
      375px 20px var(--blur) var(--spread) #a1bcc5,
      380px 20px var(--blur) var(--spread) #a0bbc4,
      385px 20px var(--blur) var(--spread) #98b1ba,
      390px 20px var(--blur) var(--spread) #8ea6b2,
      395px 20px var(--blur) var(--spread) #99afb9,
      400px 20px var(--blur) var(--spread) #cfe5eb,
      405px 20px var(--blur) var(--spread) #fdfffe,
      410px 20px var(--blur) var(--spread) #ffffff,
      415px 20px var(--blur) var(--spread) #fefefe,
      415px 20px var(--blur) var(--spread) #fefefe,
      420px 20px var(--blur) var(--spread) #fefefe,
      425px 20px var(--blur) var(--spread) #eaeef3,
      430px 20px var(--blur) var(--spread) #91a2a9,
      435px 20px var(--blur) var(--spread) #8d9da5,
      440px 20px var(--blur) var(--spread) #8ea0a4,
      445px 20px var(--blur) var(--spread) #8ea0a4,
      450px 20px var(--blur) var(--spread) #8d9fa3,
      455px 20px var(--blur) var(--spread) #8d9fa3,
      460px 20px var(--blur) var(--spread) #8a9ba2,
      465px 20px var(--blur) var(--spread) #8a9ba2,
      470px 20px var(--blur) var(--spread) #8a9ba2,
      475px 20px var(--blur) var(--spread) #8b9ca3,
      480px 20px var(--blur) var(--spread) #899aa1,
      485px 20px var(--blur) var(--spread) #899b9f,
      490px 20px var(--blur) var(--spread) #8a9c9d,
      495px 20px var(--blur) var(--spread) #8b9d9d,
      500px 20px var(--blur) var(--spread) #8b9d9d,
      505px 20px var(--blur) var(--spread) #8a9c9c,
    ;
}